.mainContent {
  position: absolute;
  margin-top: 35px;
  width: 100%;
  height: 100%;
  height: 581px;
  &__gameContent {
    top: 45px;
    width: 100%;
    height: 581px;
  }
  &__gameContentBox {
    width: 100%;
    height: 581px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__gamePaused {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      width: 100%;
      height: 100%;
      margin-top: -75px;
      h4 {
        font-size: 22px;
      }   
      p {
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
        align-content: center;
      }      
  }
  &__imageContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px; 
    height: 260px; 
    overflow: hidden;
    img {        
      width: 100%;
      height: 100%;
      position: absolute;
    } 
  }
  &__clickArea {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 430px;
    img {        
      width: 100%;
      height: 100%;
      position: absolute;
    } 
  }
  &__coins {   
     position: relative;
     justify-content: center;
     display: flex;    
   }
  &__coinBox {
    backdrop-filter: blur(24px);
		background: var(--altBG);
    border: 2px solid var(--mainColor);
    border-radius: 77px;
    display: flex;
    align-items: center;
    width: fit-content;
    align-self: center;
    justify-content: center;
    padding: 10px 14px;
   }
   &__coinImg {
    display: flex;
    align-items: center;
    margin-right: 0.625rem;
    width: 28px;
    height: 28px;
    border: 2px solid var(--mainColor);
    border-radius: 62px;
		background: var(--altBG);
    img {
     width: 100%;
    }
   }
   &__coinAmount {
    display: flex;
    align-items: center;
    span {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: var(--mainColor);
    }
  }
  &__totalPoints {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
		background: var(--altBG);
    font-family: var(--altText);
    position: relative;
    border: 1px solid var(--mainColor);
    border-radius: 12px;
    padding: 8px 18px;
    gap: 12px;
    width: fit-content;
    order: 4;
   span {
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: var(--mainColor);
    font-weight: 600;
  }
 }
 &__totalPoints-img {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border: 2px solid var(--mainColor);
  border-radius: 62px;
  img {
    width: 100%;
   }
 }
 &__totalPoints-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}
 &__totalPoints-coins {
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  color: var(--mainColor);
 }
}
